*{

}

#mainbox{
    height: 50em;
    position: absolute;
    width: 50em;
    right: 1rem;
}
#mainbox div:hover {
    background-color: black;
    transition-delay:0s;
}
#mainbox div{
    transition-delay: 100000000000000s;
}
