body{
    background-color: black;
}
#mainbox{
    height: 56.25em;
    position: absolute;
    width: 66em;
    right: 1rem;
    border: solid 4px white;
    top: 0.8em;
}
#mainbox .box:hover {
    background-color: white;
    transition-delay:0s;
    border-right: 2.5px;
    border-left: 2.5px;
}
#mainbox .box{
    transition-delay: 100000000000000s;
    margin: 4px;
    margin-top: 4px;
    margin-bottom: -2px;
}
.text{
    border: solid 4px red;
    height: 56.25em;
}
.bigbox{
    border: solid 4px white;
    justify-items: center;
    height: 58em;

}